<html>
<head>
	<title>Client Side</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <style type="text/css">
        #noticiasnumero{
            right: 0;
            position: absolute;
            top: 0;
        }
    </style>
</head>
<body>


        <div class="col-lg-6">
            <div id="noticiasnumero">
                <button class="btn btn-danger btn-circle">
                    <i class="fa fa-bolt"></i>
                </button>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comment fa-fw"></i>
                    Notificaciones Maestras
                </div>
                <div id="messages" class="panel-body">
                    
                </div>
            </div>
        </div>
	

    <!-- Modal -->
    <div class="modal fade" id="notification-datail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>

                <div class="modal-body">

                </div>

                <!--WHEN WE CALL THE API, RECIBED A JSON DATAVALUE-->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>
    <!-- /.modal -->
	<script src="/socket.io/socket.io.js"></script>
    <script src="/js/moment.js"></script>
    <script>
        var host = 'http://nodejs-mrci.rhcloud.com'; //Production Server
        //var host = 'http://localhost:3000'; // Development Server
        

        $(document).on('ready', begin);
        
        function begin()
        {

            getLastNotifications();

            /// SOCKET IO

            
            var socket = io();
            socket.on('notificate', function(msg){
                $('#messages').prepend(buildNotification(msg));
            });


        }

        function buildNotification(data)
        {

            var html = '<div class="alert ';

            if (data['notification_cat'] == 1){
                html += 'alert-warning';
            }else if(data['notification_cat'] == 2){
                html += 'alert-success';
            }else if(data['notification_cat'] == 3){
                html += 'alert-danger';
            }else if(data['notification_cat'] == 4){
                html += 'alert-info';
            }

            html += ' alert-dismissable">';

            html += data['notification_title'];

            html += ' <a href="#" class="alert-link" onclick="showNotification('+data['notification_id']+')">Ver más...</a>';

            html += '<span class="pull-right text-muted small">';
            
            html += moment(data['created_at']).format('MMMM Do YYYY, h:mm:ss a');
            
            html += '</span></div>';

            return html;
        }
            

        function getLastNotifications()
        {
            /*
            *   This method is for send JSON Array to 
            *   Node JS server and the backend will save
            *   Data in DB
            */
            $.ajax({
                type    : 'GET',
                url     : host + '/notifications/all/10',
                cache   : false,
                crossDomain: true,
                accept: "application/json",
                contentType: "application/json; charset=UTF-8",
                beforeSend  : function(){
                    //Before to send request do a animation
                    // ...
                },
                error: function(request, status, error){
                    // If there is a error do something like show message
                    console.log(request.responseText);
                },
                success: function(response){
                    // If backend had to send you a response do something
                    // ...

                    for(o in response){
                        $('#messages').append(buildNotification(response[o]));
                    }
                    
                }
            });
        }

        function showNotification(n)
        {
            $.ajax({
                type    : 'GET',
                url     : host + '/notifications/'+n,
                cache   : false,
                crossDomain: true,
                accept: "application/json",
                contentType: "application/json; charset=UTF-8",
                beforeSend  : function(){
                    //Before to send request do a animation
                    // ...
                },
                error: function(request, status, error){
                    // If there is a error do something like show message
                    console.log(request.responseText);
                },
                success: function(response){
                    // If backend had to send you a response do something
                    // ...
                    console.log(response);
                    $('#notification-datail .modal-title').text(response[0]['notification_title']);
                    $('#notification-datail .modal-body').html(response[0]['notification_body']);

                    $('#notification-datail').modal('show');
                    
                }
            });
        }
    </script>
</body>
</html>