<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Sistema Mayestro</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

    <!-- Grande JS Styles -->
    <link href="/dist/css/menu.css" type="text/css" />
    <link href="/dist/css/editor.css" type="text/css" />

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Sistema Mayestro</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Notificaciones</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Total de notificaciones
                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add Notification
                            </button>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="notifications">
                                    <thead>
                                        <tr>
                                            <th width="20%">Título</th>
                                            <th width="25%">Estracto</th>
                                            <th width="10%">Creación</th>
                                            <th width="10%">Categoría</th>
                                            <th width="10%">Publicado</th>
                                            <th width="10%">Eliminar</th>
                                        </tr>
                                    </thead>
                                    
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar una Notificación</h4>
                </div>
                
                <div class="modal-body">

                    <article class="content" id="grande-articulo">
                        <h1>Bienvenido, esto es grande.js</h1>
                        <blockquote>"Hacer cada detalle perfecto y limitar el número de detalles para perfeccionar." - <span class="jack">Jack Dorsey</span></blockquote>
                        <p>Decora tus textos como tu <b>quieras</b> y agregla el <i>feeling</i> dentro de tus palabras. Solo selecciona cualquier texto y escoge como quieres que luzca desde el menu.</p>
                        <ul>
                            <li>Crea una lista con viñetas "- " o "* " y solo da un enter.</li>
                        </ul>

                        <ol>
                            <li>Asigna importancia a los puntos que desees resaltar en tu artículo "1. "</li>
                            <li>¿Qué tienes en mente hoy?</li>
                        </ol>
                        <hr contenteditable="false">
                        <p><i>Dos enters</i> para crear una división y seprar tu contenido.</p>
                        <hr contenteditable="false">
                        <p>Deja a tus usuarios expresarse. Hecha un vistaso a youtube o spotify para escuchar algo de buena música mientras escribes.<a href="youtube.com">here</a>.</p>
                    </article>
                </div>

                <div class="modal-footer">
                    
                    <select class="form-control" id="article-category">
                        <option value="1">General</option>
                        <option value="2">Afiliación</option>
                        <option value="3">Empresas</option>
                        <option value="4">Nómina</option>
                    </select>

                    <button class="btn btn-primary" id="publish-article">Publicar</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!-- Modal -->
    <div class="modal fade" id="ModalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar una Notificación</h4>
                </div>
                
                <div class="modal-body">

                    <article class="content" id="grande-articulo-update">
                        
                    </article>
                </div>

                <div class="modal-footer">
                    
                    <select class="form-control" id="article-category">
                        <option value="1">General</option>
                        <option value="2">Afiliación</option>
                        <option value="3">Empresas</option>
                        <option value="4">Nómina</option>
                    </select>

                    <button class="btn btn-primary" id="update-article">Publicar</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    <!-- Modal -->
    <div class="modal fade" id="myModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar una Notificación</h4>
                </div>
                <!-- /.panel-heading -->
                <form role="form" id="notification" name="notification" action="/notifications" method="post">
                    <div class="panel-body">
                    
                        <div class="form-group">
                            <label>Título de la Notificación</label>
                            <input class="form-control" id="notification_title" name="notification_title">
                            <p class="help-block">Así los usuarios veran la notificación.</p>
                        </div>
                        <div class="form-group">
                            <label>Text area</label>
                            <textarea id="notification_body" name="notification_body" class="form-control" rows="5"></textarea>
                            <p class="help-block">Este texto es el cuepo de tu notificación, recuerda ser especifico.</p>
                        </div>
                        <div class="form-group">
                            <label>Categoría de la notificación</label>
                            <select id="notification_cat" name="notification_cat" class="form-control">
                                <option value="1">General</option>
                                <option value="2">Nomina</option>
                                <option value="3">Afiliación</option>
                                <option value="4">Permisos</option>
                                <option value="5">Otro</option>
                            </select>
                            <p class="help-block">La categoria funciona para seccionar las publicaciones.</p>
                        </div>
                        
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Notificación</button>
                    </div>

                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- MODAL FOR MESSAGE FROM SERVER APPLICATION -->
    <div id="modal-message" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" data-dismiss="modal" type="button"></button>
                    <h4 class="modal-title">Resultado de la Operación:</h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    
                    <button id="thumb-msg" class="btn btn-circle btn-xl">
                        <i class="fa fa-check"></i>
                    </button>

                    <p>Josesito in the house.</p>

                </div>
            </div>
        </div>
    </div>

    <!--Modal form edit-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Editar Notificación</h4>
                </div>
                <!-- /.panel-heading -->
                <form role="form" id="editNotificacionForm" name="notification" action="/notifications">
                    <div class="panel-body">
                    
                        <div class="form-group">
                            <label>Título de la Notificación</label>
                            <input class="form-control" id="notification_title" name="notification_title">
                            <p class="help-block">Así los usuarios veran la notificación.</p>
                        </div>
                        <div class="form-group">
                            <label>Text area</label>
                            <textarea id="notification_body" name="notification_body" class="form-control" rows="5"></textarea>
                            <p class="help-block">Este texto es el cuepo de tu notificación, recuerda ser especifico.</p>
                        </div>
                        <div class="form-group">
                            <label>Categoría de la notificación</label>
                            <select id="notification_cat" name="notification_cat" class="form-control">
                                <option value="1">General</option>
                                <option value="2">Nomina</option>
                                <option value="3">Afiliación</option>
                                <option value="4">Permisos</option>
                                <option value="5">Otro</option>
                            </select>
                            <p class="help-block">La categoria funciona para seccionar las publicaciones.</p>
                        </div>
                        
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Notificación</button>
                    </div>

                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- PRETTY DATE -->
    <script src="/js/pretty.js"></script>

    <!-- SOCKET IO INTEGRATION IN THE CLIENT SIDE -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/moment.js"></script>
    
    <script src="/js/grande.js"></script>
    <script src="/js/notifications.jquery.js"></script>
    <script type="text/javascript">
      grande.bind(document.querySelectorAll("article", {allowImages:true}));
    </script>
    
</body>

</html>
